
<section class="container" id="contributing">
  <h5 class="title">Contributing</h5>
  <p>Want to contribute? Create an issue to discuss it, if I don't respond in 24 hours, send me an email, then create a PR, no test is needed at this point, just send PR.</p>
</section>

<footer class="footer">
<section class="container">
<p>Coded with ♥ for my daughter by <a target="blank" href="http://mochi.ninja" title="Vinh">kureikain</a>. <a target="blank" href="https://github.com/mochi-lang/mochi.ninja" title="MIT License">Source</a>. Logo by <a href="//lapa.ninja">lapa.ninja</a></p> 
</section>
</footer>

</main>
