  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#f4f5f6">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f4f5f6">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="http://mochi.ninja">
    <meta name="description" content="Mochi Lang">
    <title>Mochi Lang</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="https://milligram.github.io/css/milligram.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://milligram.github.io/img/favicon.ico">
  </head>
