<main class="wrapper">

<nav class="navigation">
  <section class="container">

    <a class="navigation-title" href="/">
      <img class="img" src="/img/logo.svg" height="30" alt="Mochi Lang" title="Mochi Lang">
      <h1 class="title">Mochi Lang</h1>
    </a>

    <ul class="navigation-list float-right">
      <li class="navigation-item">
        <a class="navigation-link" href="#" data-popover>Play</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href="/page/about" data-popover>About</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href="//github.com/mochi-lang" data-popover>Github</a>
      </li>
    </ul>

  </section>
</nav>
